CONFIG_IGC=m
CONFIG_RTC_LIB=m
CONFIG_RTC_DRV_RV8803=m
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_QRTR_MHI=m
CONFIG_NL80211_TESTMODE=y
CONFIG_NR_CPUS=32
# CONFIG_CMA_DEBUG is not set
CONFIG_BT=m
CONFIG_BT_QCA=m
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_SERDEV=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIUART_QCA=y
CONFIG_CAN_M_CAN=m
CONFIG_CAN_M_CAN_TCAN4X5X=m